.para {
    border: 2px solid black;
    border-radius: 4px;
    padding: 15px;
    background-color: rgb(119, 104, 35);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 40px 310px 0px 310px;
    color: white;
}

table {
    margin-top: 20px;
    margin-left: 310px;
    margin-right: 310px;

}
.para1{
    text-align:justify; margin-left: 100px; margin-right: 100px; 
}