* {
    margin: 0px;
    padding: 0px;

  }
.Responsive{
   text-align: center; 
   margin-top: 60px; color: rgb(138, 79, 201);
}

  table {
    background-color: rgb(212, 185, 240);
    margin-left: 200px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: -4px 2px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -4px 2px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 2px 10px 0px rgba(0, 0, 0, 0.75);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
  }

  td {
    border: none;
    width: 240px
  }