*{
    margin: 0px;
    padding: 0px;
}
#para{
    /* border: 2px solid chartreuse; */
    border-width: 10px;
    border-style:solid;
    border-color: black;
    text-align: justify;
    padding: 40px;
    margin: 30px 10px;
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: auto;
    text-align: center;
    position: relative;
 
   

}