#head
{
 background-color: rgba(247, 143, 8, 0.459);
 color: black;
 text-align:center;
 border-right:1px solid cornsilk;
      margin: 40px;
      padding:40px;
      border: none;
    }
#STY
{
  
 background-color: rgba(206, 206, 206, 0.459);
 color: black;
 text-align:center;
 border-style: solid;
      margin: 40px;
      padding:40px;
    }
#row
{
    border-style: 2px solid rgba(218, 218, 218, 0.26);
 background-color: rgba(206, 204, 204, 0.486);
 text-align: center;

 border-bottom: 10px solid brown;
 box-shadow: 0px -1px 31px -21px rgba(51,50,50,0.75);
-webkit-box-shadow: 0px -1px 31px -21px rgba(51,50,50,0.75);
-moz-box-shadow: 0px -1px 31px -21px rgba(51,50,50,0.75);
}