#city{
    border-width: 10px;
    border-style: solid;
    border-color: cornflowerblue ;
    width: 200px;
    max-height: 200px;
    overflow: auto;
    padding: 20px;
}
#circle{
    border-width: 5px;
    border-style: solid;
    width: 200px;
    min-height: 200px;
    overflow: auto;
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    border-radius: 50%;
    text-align:justify;
    position:absolute;
    background-color: black;
    color: white;
    margin-left: 580px;
    margin-top: 100px;
}


#d{background-color: rgb(243, 140, 4);


}