p{
    border:2px solid;
    padding:20px;
    background-color: brown;
    color: cornsilk;
    margin: 10px;
   font-size: 20px;
    }
h5{
    width: 500px;
    float: right;
    text-align:justify;
    min-height: 30px;
    margin: 35px;
    color: rgb(3, 3, 3);
    font-size: 11px;
   
}
h6{
    align-items: center;
    margin: 50px;
    box-shadow: 0 1px 4px 0 rgba(0,0,50,0,3);

;
}