body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{
    margin: auto;
    margin-top: 30px;
    border-collapse: collapse;
    border: 1px solid rgba(243,235,235);
    width: 800px;
    height: 400px;
}
td{
    padding: 15px;
    text-align: left;
    border-bottom: 20px solid white;
  background-color: whitesmoke;
}
th{
    padding: 15px;
    text-align: left;
    border-bottom: 20px solid white;
    background-color: lightslategrey;
    color: black;
}
h1{
    text-align: center;
    font-weight: 500;
    background-color: white;
    color: black;
     padding: 10px 0px;
}