/* Assignment3_1 */

.xyz{
    background-color: greenyellow;
    padding: 10px;
    margin-right: 200px;
}
img{
    width: 20%;
    height: 350px;
    margin-left: 50px;
}
.xyz1{
    width: 25%;
    height: fit-content;
    float: right;
    margin-right: 400px;
    text-align: justify;
    margin-top: 1%;
    background-color: lightgoldenrodyellow;
}