<form>
    <div class="container">
    <h1><www class="registerationform com pk"></www></h1>
    <p>Please fill in the details to create an account with us.</p>
    <hr>
    <label for="email"><b>Enter Email</b></label>
    <input type="text" placeholder="Enter Email" name="email">
    <label for="pwd"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="pwd">
    <label for="confirm"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" name="confirm">
    <hr>
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
<button type="submit" class="registerbtn"><strong>Register</strong></button>
<div class="container signin">
<p>Already have an account? <a href="#">Sign in</a>.</p>


