<doctype:html>
<head>
<title>
   registeration form</title>
   <style>img{width:35px;height:20px; background-color: burlywood; }
      th{ background-color: darksalmon;}td{background-color: darkgrey;}</style>
   <body>
   <table border=8px
   wiidh=300px
   height=200px>  

    <tr>
       <th>no.</th>
       <th>student name</th>
       <th>email</th>
       <th> image</th>
       <th>status</th>
    </tr>  
    <tr>
      <td>01</td>
      <td>unaiza shahid</td>
      <td>unaizashahid10@gmail.com</td>
      <td>
         <img src="./image.jpg" alt="this error">
      </td>
      
      <td>active</td>
   </tr>  
   <tr>
      <td>02</td>
      <td>gulshan</td>
      <td>gushan0910@gmail.com</td>
      <td><img src="./image.jpg" alt="this error">

      </td>
      <td>active</td>
   </tr>    <tr>
      <td>03</td>
      <td>shan</td>
      <td>shan98550910@gmail.com</td>
      <td><img src="./image.jpg" alt="this error">
      </td>
      <td>inactive</td>
   </tr> 






</body>
    
