
<head>
    <title>bachelor of business administration</title>
    <style>table{width: 500px;
    background-color: cornsilk; }
    th{ background-color: darksalmon;
    ;}
                 
    </style>
</head>
<body>
    <table >
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>gender</th>
                <th colspan="2">designation</th>
            </tr>
            <tr>
                <th border="0" colspan="3"></th>
                <th>D</th>
                <th>N</th>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color: blue;"  >
                <td rowspan="2">1</td>
                <td>unaiza</td>
                <td>female</td>
                <td>student</td>
                <td>BCM</td>
                          </tr>      
             <tr>
 
                <td>awais</td>
                <td>male</td>
                <td>self employed</td>
                <td>BCM</td>
            </tr>  
            <tr>
                <td>3</td>
                <td>farwa</td>
                <td>female</td>
                <td>student</td>
                <td>BCM</td>
            </tr>       
             <tr>
                <td>4</td>
                <td>mehak</td>
                <td>female</td>
                <td>doctor</td>
                <td>BCM</td>
            </tr> 
            <tr>
                <td>5</td>
                <td>hamza</td>
                <td>male</td>
                <td>doctor</td>
                <td>BCM</td>
            </tr>
            <tr>
                <td>6</td>
                <td>maryam</td>
                <td>female</td>
                <td>student</td>
                <td>BCM</td>
            </tr>
            <tr>
                <td>7</td>
                <td>ramsha</td>
                <td>female</td>
                <td>engineer</td>
                <td>BCM</td>
            </tr>
             <tr>
                <td>8</td>
                <td>haroon</td>
                <td>male</td>
                <td>engineer</td>
                <td>BCM</td>
            </tr>
    
    
        </tbody>
       





    </table>
</body>
</html>