#BP{
border: 5px outset rgb(18, 240, 18) ;
padding: 10;
margin: 7px;
background-color: rgba(0, 0, 0, 0.014);
text-align: center;
flood-opacity: 5%;
}


#p{text-align:left;
    color: rgb(8, 8, 8);
    width: 500px;
    float: right;
    margin: 20px;
    font-size: 14px;
}

#I{margin: 70px;



}
