#MH
{
 background-color: red;
 color: rgb(255, 255, 255);
 text-align:center;
 border: 0px 
 
     
    }
#R1
{
  
 background-color: rgba(206, 206, 206, 0.459);
 color: black;
 text-align:center;

      margin: 50px;
      padding: 55px;px;
    }

