#book{
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    background-color: rgb(11, 11, 68);
    color: white;
   font-size:x-large;
   padding: 10px;
   width: 950px;
   font-style:initial;
}
#qut{
    margin: auto; 
   width: 300px;
   font-size: 20px;
   text-align: justify;

}





.constant_table{
    border-collapse: collapse;
    margin: 10px;
    font-size: 10px;
    min-width: 700px;
    border-radius: 20px;
}

.constant_table thead tr{
    background-color: teal;
   color: white;
   font-weight: bold;
   text-align: left;
   font-size: 20px;
   padding: 20px;
}

.constant_table  th
.constant_table td{
    padding: 12px;

   
  
}

.constant_table tbody tr{
   border-bottom: 10px solid white;
   font-size: x-large;
   box-shadow: -2px 1px 27px 3px rgba(0,0,0,0.26);
-webkit-box-shadow: -2px 1px 27px 3px rgba(0,0,0,0.26);
-moz-box-shadow: -2px 1px 27px 3px rgba(0,0,0,0.26);
}

.constant_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  border-bottom: 10px solid #f3f3f3;
  font-size: x-large;
  box-shadow: -2px 1px 27px 3px rgba(0,0,0,0.26);
-webkit-box-shadow: -2px 1px 27px 3px rgba(0,0,0,0.26);
-moz-box-shadow: -2px 1px 27px 3px rgba(0,0,0,0.26);

}
.constant_table tbody tr:last-of-type{
    border-bottom: 2px solid teal;
}






.circle{

    width: 400px;
    height: 400px;
    line-height: 40px;
    border-radius: 50%;
    /* font-size: 20px; */
    color: #fff;
    background: rgb(16, 5, 78);
    border: 5px solid rgb(220, 243, 17); 
   
}

.contant{
    position:relative;
    top: 30%;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
