
<head>
    <title>bachelor of business administration</title>
    <style>table{width: 500px;
    background-color: cornsilk; }
    th{ background-color: darksalmon;
    ;}
                 
    </style>
</head>
<body>
    <table border="5px">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>gender</th>
            <th>designation</th>
        </tr>
        <tr>
            <td>1</td>
            <td>unaiza</td>
            <td>female</td>
            <td>student</td>
        </tr>      
         <tr>
            <td>2</td>
            <td>awais</td>
            <td>male</td>
            <td>self employed</td>
        </tr>  
        <tr>
            <td>3</td>
            <td>farwa</td>
            <td>female</td>
            <td>student</td>
        </tr>       
         <tr>
            <td>4</td>
            <td>mehak</td>
            <td>female</td>
            <td>doctor</td>
        </tr> 
        <tr>
            <td>5</td>
            <td>hamza</td>
            <td>male</td>
            <td>doctor</td>
        </tr>
        <tr>
            <td>6</td>
            <td>maryam</td>
            <td>female</td>
            <td>student</td>
        </tr>
        <tr>
            <td>7</td>
            <td>ramsha</td>
            <td>female</td>
            <td>engineer</td>
        </tr>
         <tr>
            <td>8</td>
            <td>haroon</td>
            <td>male</td>
            <td>engineer</td>
        </tr>












    </table>
</body>
</html>