
body {
    background-color: #95d4e2;
}
p{
    border:4px solid #ff79b7;
    height: 220px;
    width: 180px;
    margin-left: 480px;
    margin-top: 90px;
    font-size: 29px;
    border-radius: 100%;
    padding: 90px;
    font-family: 'Lobster', cursive;
    text-align:center;
}
strong{
    color: #6a13dc;
}
